{% load static %}
{% block main_content %}
{% if messages %}
  <div id="messages">
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
    {% endfor %}
  </div>
{% endif %}

    {% include "Carousel.html" %}
    {% include "about_partial.html" %}
    {% include "Features1.html" %}
    {% include "Features2.html" %}
    {% include "content_service.html" %}
    {% include "online_appoinment.html" %}
    {% include "testimonial.html" %}
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top">
        <i class="bi bi-arrow-up"></i>
    </a>
{% endblock %}
